@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">C# Test</h1>
    <div class="mycontainer">
        <!-- payment form -->
        <div class="kr-embedded"
             kr-form-token="@ViewData["formToken"]">

            <!-- payment form fields -->
            <div class="kr-pan"></div>
            <div class="kr-expiry"></div>
            <div class="kr-security-code"></div>

            <!-- payment form submit button -->
            <button class="kr-payment-button"></button>

            <!-- error zone -->
            <div class="kr-form-error"></div>
        </div>
    </div>
</div>
